{% load static %}
<header class="header">
        <div class="logo">
            <img src="{% static 'ProjektSystemCertyfikacji/images/logo-2-166.svg' %}" alt="Logo">
        </div>

        <nav class="nav-menu">
            <div class="nav-item"><a href="/">Strona główna</a></div>
            <div class="nav-item"><a href="{% url 'list_product_batches' %}">Produkty</a></div>
            <div class="nav-item"><a href="{%  url 'list_cert' %}">Certyfikaty</a></div>
            <div class="nav-item"><a href="{% url 'control_dashboard' %}">Dashboard</a></div>
            <div class="nav-item"><a href="{% url 'dashboard_fraud_reports' %}">Zgłoszenia fraudów</a></div>
{#             <div class="nav-item"><a href="{% url 'notifications' %}">Powiadomienia</a></div>#}
{#            <div class="nav-item">Track & Trace</div>#}
{#            <div class="nav-item">Historia</div>#}
        </nav>
        <div class="auth-buttons">
            <a href="{% url 'logout' %}" class="btn btn-secondary" style="text-decoration: none;">Wyloguj</a>
        </div>
    </header>