{% load static %}
<header class="header">
    <div class="logo">
        <img src="{% static 'ProjektSystemCertyfikacji/images/logo-2-166.svg' %}" alt="Logo">
    </div>

    <nav class="nav-menu">
        <div class="nav-item"><a href="/">Strona główna</a></div>
{#        <div href="" class="nav-item">Produkty</div>#}
{#        <div href="" class="nav-item">Certyfikaty</div>#}
        <div href="" class="nav-item">Track & Trace</div>
        <div href="" class="nav-item">Historia</div>
{#        <div href="" class="nav-item">Mapa</div>#}
{#        <div href="" class="nav-item">Oceny</div>#}
{#        <div href="" class="nav-item">Zgłoś</div>#}
    </nav>

    <div class="auth-buttons">
        <a href="/login" class="btn btn-secondary" style="text-decoration: none; display: inline-block;">Logowanie</a>
        <a href="/account_type" class="btn btn-primary" style="text-decoration: none; display: inline-block;">Rejestracja</a>
    </div>
</header>